body{
    height:100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,54,121,1) 35%, rgba(0,212,255,1) 100%);
}
h1{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: xx-large;
}
input{
    width: 20vw;
}
.search-engine{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    margin-top:25px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.action{
    margin-bottom:25px;
}
